@model RadacodeTask.Models.Idea

<div>
    <h3>@Model.Title</h3>
    <h4>@Model.Description</h4>
    <h4>@Model.Rating.ToString()</h4>

    @using (Ajax.BeginForm("Vote", new AjaxOptions { UpdateTargetId = "results" }))
    {
        @Html.Hidden("ideaId", Model.Id)
        @Html.Hidden("isUp", true)
        <button type="submit">Vote Up</button>
    }

    @using (Ajax.BeginForm("Vote", new AjaxOptions { UpdateTargetId = "results" }))
    {
        @Html.Hidden("ideaId", Model.Id)
        @Html.Hidden("isUp", false)
        <button type="submit">Vote Down</button>
    }
    <div id="results"></div>
</div> 
